
@{
    ViewBag.Title = "Actualizacion";
}

<h2>Actualizacion</h2>

<div class="jumbotron">
    <h2 class="display-3">UEFA Champions League: @ViewBag.Title</h2>
    <p class="lead">@ViewBag.Mensaje</p>
    <hr class="my-4">
    
    </div>

<p>
    @Html.ActionLink("Regresar a Index", "Index")
</p>