@model IEnumerable<Unidad_5_Lab.Models.Diccionario2Info>

@{
    ViewBag.Title = "Faltantes";
}

<h2>Estampillas Faltantes de Todo el Album</h2>


<table class="table table-hover">
    <tr class="table-light">
        <th>
            @Html.DisplayNameFor(model => model.NumeroEstampa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="table-dark">
        <td>
            @Html.DisplayFor(modelItem => item.NumeroEstampa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo)
        </td>
    </tr>
}

</table>
