
@{
    ViewBag.Title = "Index";
}

<h2>Menu Principal</h2>


<h3>Buscar Equipo</h3>

@using (Html.BeginForm("Buscar", "Busqueda", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="text" name="Buscado" />
    <input type="submit" value="Buscar" class="btn btn-primary" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            EQUIPO
        </th>
        <th></th>
    </tr>

    @foreach (var item in Unidad_5_Lab.Singleton.Data.Instancia.Equipos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>

            <td>
                @Html.ActionLink("Ver", "MostrarListas", new { Llave = item }) |
                @Html.ActionLink("Detalles", "Details", new { Unidad_5_Lab.Singleton.Data.Instancia.Diccionario1 }) |
            </td>
        </tr>
    }

</table>
