@model IEnumerable<Unidad_5_Lab.Models.Informacion>

@{
    ViewBag.Title = "MostrarListas";
}

<h2>MostrarListas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Opciones</th>
    </tr>


    <tr>
        <td>
            @Html.ActionLink("Faltantes", "MostrarListaEscogida", new { lista = 1 })
        </td>
        <td>
            @Html.ActionLink("Collecionadas", "MostrarListaEscogida", new { lista = 2 })
        </td>
        <td>
            @Html.ActionLink("Disponibles", "MostrarListaEscogida", new { lista = 3})
        </td>
    </tr>


</table>
